.contact-container {
  margin-bottom: 5rem;
  
  .contact-titles {
    background-color: $clr2;
    text-align: center;
    color: aliceblue;
    padding-bottom: 10px;
    margin-bottom: 50px;

    .sub-title {
      color: white;
    }
  }

  .contact-form-container {
    display: flex;
    justify-content: space-around;

    .contact-form {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      input {
        text-align: right;
        padding-right: 10px;
        padding: 10px 10px 10px 0;
        margin-bottom: 10px;
        border: none;
        background-color: rgb(223, 227, 227);
        border-radius: 3px;
        color: rgb(150, 149, 149);
      }
      textarea {
        text-align: right;
        padding: 10px 10px 10px 0;
        border: none;
        background-color: rgb(223, 227, 227);
        border-radius: 3px;
        margin-bottom: 10px;
        color: rgb(150, 149, 149);

        font-family: 'Source Sans Pro', sans-serif;
      }
      .submit-form-btn {
        width: 80px;
        height: 30px;
        color: white;
        background-color: $clr1;
        border-color: $clr2;
        border-radius: 20px;
      }
    }
    .contact-info {
      width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .no-margin-top {
        margin-top: 0;
      }

      h3 {
        text-align: right;
        color: rgb(77, 76, 76);
      }
      .contacts {
        text-align: right;
        color: rgb(150, 149, 149);
      }
    }
  }
}
