.header {
  width: 100%;
  font-weight: bold;
  line-height: 100px;

  nav {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(10, 1fr);

    .header-item {
      width: 100%;
      height: 100%;

      text-align: right;
    }
    .header-item:hover {
      background-color: rgba(128, 137, 134, 0.386);
      cursor: pointer;
    }
  }
}
